@page "/"

<h1>Hello!</h1>

This is a learning application for me to try out <a href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor" target="_blank">Blazor</a>, <a href="https://dotnet.microsoft.com/apps/machinelearning-ai/ml-dotnet" target="_blank">ML.NET</a> and <a href="https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-overview?tabs=csharp" target="_blank">Durable Functions</a>.

<h2>How does it work?</h2>

<ol>
    <li>At first, you have to find an image on the internet, and get its URL.</li>
    <li>Then you can paste it into the input field of Recognition menu.</li>
    <li>This step invokes the function app and will run the train and prediction.</li>
    <li>The prediction result will be shown on site.</li>
</ol>